

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dark2{color:#424242}
.dark3{color:#727272}
.orange{color:#FF900E}
.white{color:#fff}

.btn-primary{
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
main{
    max-width: 1400px;
    margin: 0 auto;
}

header{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar, .banner{
    max-width: 1400px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-links{
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.nav-links li{
    list-style: none;
}
.nav-links li>a{
    text-decoration: none;
    color: black;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 5rem;
}
.banner-pic{
    margin-bottom: 50px;
}
.banner-pic img{
   
    width: 100%;
}
.our-team{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 61px;
}
.team-title{
    font-weight: 700px;
    font-size: 3rem;
}
.group-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* Media query for mobile device*/
.navbar{
    display: flex;
    flex-direction: column;
}
.brand{
    font-size: 2rem;
}
.banner-title{
    font-size: 3rem;
}